@import "tailwindcss";

@theme {
  --font-sans: "Helvetica", "Arial", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-family: Helvetica, Arial, sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
